.heading
{
    font-size: 23px;
    box-shadow: 5px 5px 5px grey;
    width: 100%;
    margin: 0;
}

.note
{
    color: black;
    font-size: 15px;
}

.copy_right_footer
{
    position: fixed ;
    color: white;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 3;
    background-color: grey;
}

canvas{
    border: 5px solid white;
    box-shadow: 5px 5px 5px grey;
    border-radius: 20px;
}